
#landing{
    align-items: center;
    
    

}

p{
    text-align: center;
    font-size:30px;
    color: white;
    
}

img{
    align-items: center;
}

section {
    background-image: url(Anita/backgrounds/landing.jpg)
    
}

.container { 
    display: flex;
    position: relative;
    float: 100px;
    flex-direction: row;
    
}

.hour {
    padding: 100px;
}

.breakfast {
    background-image: url(Anita/foodtop/breakfast.jpg);
    padding: 100px;
    background-repeat: no-repeat;
}
    
    

.lunch {
    background-image: url(Anita/foodtop/lunch.jpg);
 
}

.dinner {
    background-image: url(Anita/foodtop/dinner.jpg);
   
}

.row {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
   
}

.main {
    margin: 10px;
    height: 100px                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ;
    width: 100px;
    text-align: center;
  }
 

    
}                                                                                                                                                   